/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  color: #222;
  font-size: 1em;
  line-height: 1.4;
}
body {
  background-position: 0;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  transition: all 1s;
  -moz-transition: background-image 1s;
}
::-webkit-scrollbar {
  width: 0px; /* Remove scrollbar space */
  background: none;
}
button {
  box-shadow: none !important;
}
img {
  max-width: 100%;
}

/*sections padding and colour */
.team-section,
.service-section,
.contact-section,
.gallery-section,
.policy-section {
  background: rgba(222, 234, 245, 0.4);
  padding: 80px 0 80px 0;
}

/*
 * Remove text-shadow in selection highlight:
 *
 * Customize the background color to match your design.
 */

::-moz-selection {
  background: #ffca2c;
  text-shadow: none;
}

::selection {
  background: #ffca2c;
  text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
  resize: vertical;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden,
[hidden] {
  display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 *
 * 1. For long content, line feeds are not interpreted as spaces and small width
 *    causes content to wrap 1 word per line:
 *    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
 */

.visually-hidden {
  border: 0;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  white-space: nowrap;
  width: 1px;
  /* 1 */
}

/*
 * Extends the .visually-hidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.visually-hidden.focusable:active,
.visually-hidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  white-space: inherit;
  width: auto;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
  visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * The use of `table` rather than `block` is only necessary if using
 * `::before` to contain the top-margins of child elements.
 */

.clearfix::before,
.clearfix::after {
  content: "";
  display: table;
}

.clearfix::after {
  clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
  /* Style adjustments for viewports that meet the condition */
}

@media print,
  (-webkit-min-device-pixel-ratio: 1.25),
  (min-resolution: 1.25dppx),
  (min-resolution: 120dpi) {
  /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   https://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
  *,
  *::before,
  *::after {
    background: #fff !important;
    color: #000 !important;
    /* Black prints faster */
    box-shadow: none !important;
    text-shadow: none !important;
  }

  a,
  a:visited {
    text-decoration: underline;
  }

  a[href]::after {
    content: " (" attr(href) ")";
  }

  abbr[title]::after {
    content: " (" attr(title) ")";
  }

  /*
   * Don't show links that are fragment identifiers,
   * or use the `javascript:` pseudo protocol
   */
  a[href^="#"]::after,
  a[href^="javascript:"]::after {
    content: "";
  }

  pre {
    white-space: pre-wrap !important;
  }

  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }

  tr,
  img {
    page-break-inside: avoid;
  }

  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }

  h2,
  h3 {
    page-break-after: avoid;
  }
}
/* Navbar css start */
.cc-main-navbar {
  background: #f5f5f5ce;
}
.cc-main-navbar .navbar-brand img {
  width: 150px;
}
.cc-main-navbar .navbar-toggler {
  border-radius: 0;
  box-shadow: none;
}

@media only screen and (min-width: 1200px) {
  .cc-main-navbar li.nav-item {
    padding: 0 8px !important;
  }
  .cc-main-navbar li.nav-item:last-child {
    padding: 0 0px;
  }
}
@media only screen and (max-width: 991px) {
  .navbar-collapse {
    margin-left: 15px;
  }
}
.cc-main-navbar .nav-link {
  font-size: 18px;
  font-weight: 600;
}
/* hero-section css */
.cc-hero-section {
  margin: 100px 0;
}
.cc-hero-section .cc-hero-section-content {
  background: #fdfdfdb0;
  padding-top: 70px !important;
  padding-bottom: 80px !important;
  border-radius: 3px;
}
.cc-hero-section .cc-hero-section-content a {
  font-size: 50px;
  text-align: center;
  text-decoration: none;
  display: block;
  line-height: 1.8;
  color: #000;
  font-weight: 400;
  display: block;
}
/* cc-content-parent CSS */
.cc-content-parent {
  background: rgba(222, 234, 245, 0.4);
  padding: 80px 0 80px 0;
}
.cc-content-parent .content-wrapper {
  background: #fdfdfdb0;
  padding: 80px;
}
.cc-hr-divider {
  border: 2px solid black;
  margin: 50px 0 50px 0;
}
.cc-content-paragraph {
  font-size: 20px;
}

/* footer css */
footer {
  padding: 60px 0 50px 0;
  background-color: #fdfdfdd4;
}
footer .cc-footer-content {
  text-align: left;
  color: #111 !important;
}

/* team section css */
.team-section .card,
.service-section .card {
  padding: 20px 10px 10px 10px;
  margin: 20px 0 0px 0;
}
.team-section .card-img-top {
  max-width: 150px;
  max-height: 150px;
  margin: auto;
  border-radius: 50% !important;
}

/* service section css */
.service-section .card-img-top {
  max-width: 100px;
  max-height: 100px;
  margin: auto;
}
/* contact section css */
.contact-section .form-control {
  background: #ffffffb7;
}
.contact-section .form-control,
.btn {
  border-radius: 0;
}
.contact-section .form-control:focus {
  box-shadow: none;
  border-color: #777;
}
/* gallery section css */
.bx-wrapper .bx-pager {
  bottom: -130px;
}

.bx-wrapper .bx-pager a {
  border: solid #ccc 1px;
  display: block;
  margin: 0 5px;
  padding: 3px;
}

.bx-wrapper .bx-pager a:hover,
.bx-wrapper .bx-pager a.active {
  border: solid #5280dd 1px;
}

.bx-wrapper {
  margin-bottom: 120px;
}
.bx-pager-item img {
  width: 100px;
  height: 100px;
  object-fit: cover;
}

/* policy-section css */
.policy-section {
  background: #ffffffc0;
}
/* map section css*/
.map-section {
  background: #ffffff6e;
  padding: 60px 0;
}
.map-section .map-section-title {
  color: #000;
  font-weight: 400;
  margin-bottom: 20px;
  background: #eeeeeea1;
  padding: 20px;
  font-size: 40px;
}
.map-section iframe {
  width: 100%;
  height: 450px;
  border: 0;
}
/* media queries */
@media only screen and (max-width: 720px) {
  .cc-main-navbar .navbar-brand img {
    width: 120px;
  }
  .cc-hero-section {
    margin: 80px 0;
  }
  .cc-content-parent .content-wrapper {
    padding: 40px;
  }
  .cc-hero-section .cc-hero-section-content a,
  .map-section .map-section-title {
    font-size: 35px;
    padding-left: 10px;
    padding-right: 10px;
  }
}
@media only screen and (max-width: 767px) {
  .bx-pager-item img {
    width: 80px;
    height: 80px;
  }
}
@media only screen and (max-width: 524px) {
  .cc-hero-section {
    margin: 60px 0;
  }
  .team-section,
  .service-section,
  .contact-section,
  .gallery-section,
  .policy-section {
    padding: 50px 0;
  }
  .bx-pager-item img {
    width: 50px;
    height: 50px;
  }
  .bx-wrapper .bx-pager {
    bottom: -90px;
  }
  .cc-content-parent {
    padding: 60px 0 60px 0;
  }
}
@media only screen and (max-width: 374px) {
  .bx-pager-item img {
    width: 50px;
    height: 50px;
  }
  .bx-wrapper .bx-pager {
    bottom: -130px;
  }
}
